version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
groups:
  gatsby:
    patterns:
    - "gatsby*"
  fortawesome:
    patterns:
    - "@fortawesome*"
