.cookiealert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 999;
  opacity: 0;
  border-radius: 0;
  margin: 100;
  background: #212327;
  transform: translateY(100%);
  transition: all 500ms ease-out;
  color: #ecf0f1;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.cookiealert-container {
  padding: 10px;
  text-align: center;
  font-size: small;
}

.cookiealert.show {
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 1000ms;
}

.cookiealert a {
  text-decoration: underline;
  color: white;
}

.cookiealert .acceptcookies {
  margin-left: 10px;
  vertical-align: baseline;
  background-color: #2196f3;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}
